@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blackO: rgb(30, 30, 30);
    --blackG: #252526;
    --blackS: #333333;
    font-family: 'Poppins', sans-serif;
}

.message {
    display: flex;
    justify-content: start;
    color: white;
}

.my-message {
    display: flex;
    justify-content: end;
    
    color:white;
}

.message.prueba{
    background-color: rgb(100, 98, 98);
}
.my-message.prueba{
    background-color: rgb(127, 14, 208);
}

.close {
    display: none;
}

.open {
    display: block;
}


@tailwind base;
@tailwind components;
@tailwind utilities;