@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blackO: rgb(30, 30, 30);
    --blackG: #252526;
    --blackS: #333333;
    font-family: 'Poppins', sans-serif;
}

.message {
    background-color: aquamarine;
}

.my-message {
    background-color: brown;
}

.close {
    display: none;
}

.open {
    display: block;
}


@tailwind base;
@tailwind components;
@tailwind utilities;